<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Information</title>
</head>
<body><form action="#" th:action="@{/information}" th:object="${employee}" method="post">
    First Name: <input type="text" th:field="*{Fname}" /><br />
    Last Name: <input type="text" th:field="*{Lname}" /><br />
    Social Security Number or SSN: <input type="number" th:field="*{ssn}" /><br />
    DOB: <input type="number" th:field="*{dob}" /><br />
    <input type="submit" value="Submit"/>
</form>
</body>
</html>